
    body{
        background-color: rgb(38, 56, 56);

    }
    .big-container{
        max-width: 350px;
        height: 600px;
        background-color: rgb(182, 44, 164);
        border-radius: 25px;
        margin: auto;
        margin-top: 40px;
    }
    .greet-container{
         max-width: 350px;
        height: 400px;
        background-color:rgb(202, 88, 149) ;
        border-radius: 25px 25px 0px 0px;

    }
    .greet-container img{
        width: 350px;
        height: 400px;
        position:absolute;
        opacity: 0.5;
        border-radius: 25px 25px 0px 0px;
      
    }
    .greet-container p{
        position:relative ;
        color: white;
       
    }
   
    #p1{
        text-align: center;
        top: 255px;
        font-size: 1.25em;
        font-weight: bold;
    }
    #p2{
        top: 235px;
        left: 55px;
        font-size: 1em;
    }
    .points{
        max-width: 500px;
        height: 200px;
        display: flex;
        justify-content: space-around;
        background-color:white;
        border-radius: 0px 0px 25px 25px;
        align-items: center;
    
        
    

    }
    .views{
        display: flex;
        flex-direction: column;
        font-size: 1em;

    }
    .views span{
        color: black;
        
    }
    i{
        font-size: 2em;
        color: white;
       /* display: flex;
       justify-content: center; */
        

    }
    .i2{
        width: 80px;
        height: 80px;
        background-color:rgb(235, 72, 72);
        border-radius: 50%;
        margin: auto;
        top: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .views strong{
        text-align: center;
        font-size: 1.25em;
    }
